# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# This config is only valid during development and testing. It have to be changed in production.
# Replace the placeholder in the URL below with the full connection string of your database, for example:
DATABASE_URL="<my-db-url>"
JWT_SECRET="<my-secret-word>"